:root {
	--text-colour: white;
	--background-colour: black;

	--heading-font: "Anta", sans-serif;
	--body-font: Verdana, Geneva, Tahoma, sans-serif;

	--accent-colour: orange;
}

/* Global */
* {
	box-sizing: border-box;
}

html, body {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: var(--body-font);
  	color: var(--text-colour);
	line-height: 1.5;
	
	background-image: 
		linear-gradient(
			to right,
			rgba(0, 5, 40, 0.75), 
			rgba(0, 5, 40, 0.3)
		), 
		url("https://cdn.mos.cms.futurecdn.net/q4ajDUnffbMhw6P8v87Aug.jpg");
	background-repeat: no-repeat;
	background-size: 150%;
	background-position-y: 20%;
	background-color: var(--background-colour);

	min-height: 100vh;
	min-height: 100dvh;

	display: flex;
	flex-direction: column;
}

main {
	margin-left: 100px;
	margin-top: 25px;
	width: min(90%, 900px);
	flex: 1;
}

h1, h2, h3, h4, h5, h6, .navbar {
  	font-family: var(--heading-font);
}

a {
	color: inherit
}

/* Nav - applies to both navbar and footer */
.nav-link {
	text-decoration: none;
}

nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

/* Navbar */
.navbar {
	width: 100%;
}

.navbar ul {
	list-style-type: none;

	margin: 0px;
	padding: 0px;

	background-color: var(--background-colour);

	display: flex;
}

.navbar a {
	display: block;
	padding: 14px 16px;
	text-decoration: none;
}

.navbar a:hover {
  	background-color: #333333;
}

.navbar a[aria-current = "page"] {
    color: var(--accent-colour);
    border-bottom: 2px solid var(--accent-colour);
}

/* Footer */
footer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: 2rem;
	background-color: var(--background-colour);
}

.footer-section {
	text-align: center;
}

.icon {
    fill: white;
	width: 32px;
	height: 32px;
}

.icons {
	display: flex;
	justify-content: center;
	gap: 1rem;
}

.footer-nav a {
	font-family: var(--heading-font);
}

.footer-nav a:hover{
  	color: var(--accent-colour);
}

.icon:hover {
	fill: var(--accent-colour);
}

.navbar .nav-link, .icon {
	display: block;
}