:root {
	--default-colour: white;
	--background-colour: black;
	--content-background-colour: #0D1B3D;
	--accent-colour: orange;
	--navbar-hover-colour: #333333;

	--heading-font: "Anta", sans-serif;
	--body-font: Verdana, Geneva, Tahoma, sans-serif;
}

/* Global */
* {
	box-sizing: border-box;
}

html, body {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: var(--body-font);
  	color: var(--default-colour);
	line-height: 1.5;

	background-color: var(--background-colour);
}

main {
	flex: 1;
}

.hero {
	background-image: 
		linear-gradient(
			rgba(0, 5, 40, 0.75), 
			rgba(0, 5, 40, 0)
		), 
		url("https://cdn.mos.cms.futurecdn.net/q4ajDUnffbMhw6P8v87Aug.jpg");
	background-repeat: no-repeat;
	background-size: cover;

	min-height: 75vh;
	min-height: 75dvh;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	text-align: center;
}

.content {
	padding: 5rem;
	background-color: var(--content-background-colour);
}

h1, h2, h3, h4, h5, h6, .navbar {
  	font-family: var(--heading-font);
}

h1 {
	font-size: 4rem;
}

h2 {
	font-size: 2rem;
}

/* Content */
.content h2 {
	margin: 0;
	padding: 0;
}

a {
	color: inherit
}

.content-section {
	padding-bottom: 3rem;
}

img {
	display: block;

	width: 50%;
	max-width: 100%;
	height: auto;

	margin: auto;
	margin-top: 5rem;
}

/* Nav - applies to both navbar and footer */
.nav-link {
	text-decoration: none;
}

nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

/* Navbar */
.navbar {
	width: 100%;
}

.navbar ul {
	list-style-type: none;

	margin: 0;
	padding: 0;

	background-color: var(--background-colour);

	display: flex;
}

.navbar a {
	display: block;
	padding: 0.9rem 1rem;
	text-decoration: none;
}

.navbar a:hover {
  	background-color: var(--navbar-hover-colour);
}

.navbar a[aria-current = "page"] {
    color: var(--accent-colour);
    border-bottom: 2px solid var(--accent-colour);
}

/* Footer */
footer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: 2rem;
	background-color: var(--background-colour);
}

.footer-section {
	text-align: center;
}

.icon {
    fill: white;
	width: 32px;
	height: 32px;
}

.icons {
	display: flex;
	justify-content: center;
	gap: 1rem;
}

.footer-nav a {
	font-family: var(--heading-font);
}

.footer-nav a:hover{
  	color: var(--accent-colour);
}

.icon:hover {
	fill: var(--accent-colour);
}

.navbar .nav-link, .icon {
	display: block;
}